image: python:3.6

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"
  PIPENV_VENV_IN_PROJECT: 1
  PIPENV_IGNORE_VIRTUALENVS: 1

cache:
  paths:
    - .cache/pip

before_script:
  - python -V
  - pip install pipenv
  - pipenv install --dev

test:
  script:
  - pipenv run coverage run -m pytest
  - pipenv run coverage report
