[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
sqlalchemy = "*"
jsonschema = "*"
"strict-rfc3339" = "*"
"rfc3987" = "*"

[dev-packages]
pytest = "*"
coverage = "*"
httpie = "*"

[requires]
python_version = "3.6"
